@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


 


*{
  font-family: "Work Sans", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}

/* Shard style  */
.btn-all{
    font-size: 1.25rem;
    font-weight: 600px;
    padding: 15px;
    color: #FFFFFF;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
}

/* Navbar start */
.display-flex{
    display: flex;

}

.bg-light{
    background: rgba(255, 144, 14, 0.1);
}
.navbar{
    padding-top: 30px;
    justify-content: space-between;
    align-items: center;
    
}

.brand{
color: rgba(19, 19, 19, 1);

font-size: 45px;
font-weight: 700px;
text-align: center;
}
.nav-links {



}

.nav-item{
    list-style: none;
    margin: 0px 50px 0px 0px ;

}

.nav-link{
    text-decoration: none;
    color:rgba(66, 66, 66, 1);
font-size: 18px;
font-weight: 500px;

}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* Banner releted style */

.banner-content{
    max-width: 850px;
    margin: 0px auto;
    text-align: center;
    padding-top: 80px ;
    margin-bottom: 50px;
}

.banner-title{
color:rgba(19, 19, 19, 1);
font-size: 64px;
font-weight: 700px;
text-align: center;
}
.banner-content p{
color:rgba(114, 114, 114, 1);
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: center;
margin: 15px 0px 15px 0px ;
}

.banner-img{
    width: 100%;
}

/* responsive section  */
@media screen and (max-width:576px) {

    .navbar, .nav-links{
        flex-direction: column;
        text-align: center;
    }


    
}