@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


 


*{
  font-family: "Work Sans", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}

/* Shard style  */
main > section{
    margin-top: 130px ;
}
main{
    max-width: 1440px;
    margin: 0px auto;
}
.btn-all{
    font-size: 1.25rem;
    font-weight: 600px;
    padding: 15px;
    color: #FFFFFF;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
}

/* Navbar start */
.display-flex{
    display: flex;

}

.bg-light{
    background: rgba(255, 144, 14, 0.1);
}
.navbar{
    padding-top: 30px;
    justify-content: space-between;
    align-items: center;
    
}

.brand{
color: rgba(19, 19, 19, 1);

font-size: 45px;
font-weight: 700px;
text-align: center;
}






.nav-item{
    list-style: none;
    margin: 0px 50px 0px 0px ;

}

.nav-link{
    text-decoration: none;
    color:rgba(66, 66, 66, 1);
font-size: 18px;
font-weight: 500px;

}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* Banner deleted style */

.banner-content{
    max-width: 850px;
    margin: 0px auto;
    text-align: center;
    padding-top: 80px ;
    margin-bottom: 50px;
}

.banner-title{
color:rgba(19, 19, 19, 1);
font-size: 64px;
font-weight: 700px;
text-align: center;
}
.banner-content p{
color:rgba(114, 114, 114, 1);
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: center;
margin: 15px 0px 15px 0px ;
}

.banner-img{
    width: 100%;
}

/* Them section */

.them{
    align-items:center;
}

.them-img-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:24px;
}

.our-features{
    margin-left: 130px;
    max-width: 537px;
   
}
.our-features, .som-title, h2{
font-size: 45px;
font-weight: 400px;
text-align: left;
}

#Quick-list{
    color: #727272;
}

#of-Our{
    color: #131313;
}
#Features{
   color: #FF900E;
}

.our-features .description, p{
color:rgba(114, 114, 114, 1);
font-size: 16px;
text-align: left;
margin: 15px  0px 20px 0px ;
}
/* some fact */
.description{
width: 542px;
color:rgba(114, 114, 114, 1);
font-size: 16px;
text-align: left;
margin: 15px  0px 20px 0px ;}

.card-box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
     padding-top: 120px;
}
.fact{


    border-radius: 8px;
    border: 1px solid #FAA515;
    width: 240px;
    height: 240px;
    text-align: center;
    justify-content: center;
    align-items: center;
    

}

.fact-number{

color:  rgba(66, 66, 66, 1);
font-style: SemiBold;
font-size: 2.8rem;
font-weight: 600px;
text-align: center;
margin-top: 5px;
margin-bottom: 10px;

}

.fact-name{

color:rgba(114, 114, 114, 1);
font-style: SemiBold;
font-size: 1.25rem;
font-weight: 600px;
text-align: center;

}




/* Sponspors-info */
.Our-Sponspors{
  

    
}

.Sponspors-info{
   


    
   
}

.Sponspors-info h3{
color: rgba(19, 19, 19, 1);


font-style: Bold;
font-size: 45px;
font-weight: 700px;
line-height: 53px;
letter-spacing: 0%;
text-align: center;
}

.Sponspors-info p{

color:rgba(114, 114, 114, 1);

font-family: Work Sans;
font-style: Regular;
font-size: 16px;
font-weight: 400px;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}

.sponsors-company{

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    filter: grayscale(100%);

}


/* responsive section  */
@media screen and (max-width: 576px) {

  /* shared */
  .display-flex {
    flex-direction: column;
  }

  /* NAVBAR */
  .navbar {
    align-items: center;
    gap: 16px;
  }

  .links {
    flex-direction: column;
    gap: 12px;
    padding: 0;
  }

  .brand {
    text-align: center;
  }

  /* BANNER */
  .banner {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .banner-content {
    max-width: 100%;
    padding: 0 16px;
  }

  .banner-img {
    width: 100%;
  }

  /* TEAM + FEATURES */
  .them {
    flex-direction: column;
    gap: 24px;
    text-align: center;
  }

  .them-img-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .them-img-content img {
    width: 100%;
  }

  .our-features {
    margin: 0 auto;
    padding: 0 16px;
  }

  /* FACTS */
  .Facts {
    text-align: center;
  }
  .som-title{
    text-align: center;
  }

  .description {
    max-width: 300px;
    text-align: center;
    margin: 0 auto 20px;
  }

  .card-box {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-left: 80px;
  }

  /* SPONSORS */
  .Sponspors-info, .Our-Sponspors {
    justify-items: center;
  }
  

  .Sponspors-info p {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .sponsors-company {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    justify-items: center;
  }
}


/* medium size device */

@media screen and (min-width:576px) and (max-width:992px) {

    .them{
        flex-direction: column;
    }

     .our-feature{
        margin-left: 50px;
     }
    .card-box{
        grid-template-columns: repeat(2, 1fr);
    }
}
